
    <header class="header">
        <div class="container">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand scroll-top logo"><b></b></a>
                </div>
                <!--/.navbar-header-->
                <div id="main-nav" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="mainNav">
                        <li class="active"><a href="#home" class="scroll-link">Home</a></li>
                        <li><a href="#aboutMe" class="scroll-link">About Me</a></li>
                        <li><a href="#skills" class="scroll-link">Skills</a></li>
                        <li><a href="#experience" class="scroll-link">Experience</a></li>
                        <li><a href="#projects" class="scroll-link">Projects</a></li>
                        <li><a href="#contact" class="scroll-link">Contact</a></li>
                    </ul>
                </div>
                <!--/.navbar-collapse-->
            </nav>
            <!--/.navbar-->
        </div>
        <!--/.container-->
    </header>
    <!--/.header-->
    <div id="#top"></div>
    <section id="home">
        <div class="banner-container">
            <%= image_tag("banner-bg.jpg", alt:"banner") %>
            <div class="container banner-content">
                <div id="da-slider" class="da-slider">
                    <div class="da-slide">
                        <h2>Mechanical Engineer</h2>
                        <p>Designs that excel</p>
                        <div class="da-img"></div>
                    </div>
                    <div class="da-slide">
                        <h2>Maker</h2>
                        <p>Learn through doing</p>
                        <div class="da-img"></div>
                    </div>
                    <div class="da-slide">
                        <h2>3D CAD</h2>
                        <p>Creo Parametric & Solidworks</p>
                        <div class="da-img"></div>
                    </div>
                    <div class="da-slide">
                        <h2>Lean Thinking</h2>
                        <p>Create value... eliminate waste</p>
                        <div class="da-img"></div>
                    </div>
				<!--  <nav class="da-arrows">
                        <span class="da-arrows-prev"></span>
                        <span class="da-arrows-next"></span>
                    </nav> -->
                </div>
            </div>
        </div>
    </section>
    <!--Intro
    <section id="introText">
        <div class="container">
            <div class="text-center">
            <h1>I create awesome products</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum erat et neque tincidunt volutpat. Cras eget augue id dui varius pretium. Cras posuere dolor risus. Pellentesque elementum ultricies quam, sit amet rhoncus nisl viverra in. Cras imperdiet nisi a euismod molestie. Ut a metus arcu. Pellentesque feugiat dictum erat. Nulla vehicula condimentum purus, quis imperdiet nisl ultricies eleifend. Nulla quis rhoncus risus. Ut vel vehicula urna.</p>
            </div>
        </div>
    -->

    </section>
    <!--About-->
    <section id="aboutMe" class="secPad">
        <div class="container">
            <div class="profile-pic" style= 'background-image: url(<%= image_path "profile_pic.jpg" %> )'></div>
            <div class="heading text-center">
                <!-- Heading -->
                <h2>I am Pat Rocchio,</h2>
                <h3>a mechanical engineer currently working in the lighting industry.</h3>
                <p></p>
            </div>
            <div class="row">
                <!-- item -->
                <div class="col-md-4 text-center tileBox">
                   <div class="txtHead"> <i class="fa fa-cube"></i>
                    <h3>3D <span class="id-color">CAD</span></h3></div>
                    <p>You have an idea, I can make it come to life in a 3D model. I take product designs from concept to completion, utilizing Creo and Solidworks to create detailed 3D models and engineering drawings.</p>
                </div>
                <!-- end: -->

                <!-- item -->
                <div class="col-md-4 text-center tileBox">
                    <div class="txtHead"><i class="fa fa-gear"></i>
                    <h3>Design <span class="id-color"></span></h3></div>
                    <p>Designing great products takes knowledge, dedication, and hard work. I have experience designing lighting fixtures and electronic enclosures that use die cast, injection molded, extruded, and sheet metal parts.</p>
                </div>
                <!-- end: -->

                <!-- item -->
                <div class="col-md-4 text-center tileBox">
                    <div class="txtHead"><i class="fa fa-lightbulb-o"></i>
                    <h3>Lean <span class="id-color">Thinking</span></h3></div>
                    <p>Things can always be better. I drive continous improvement through the use of lean tools such as Kaizens, A3 problem solving, and lean daily managment.</p>
                </div>
                <!-- end: -->
            </div>
        </div>
    </section>
    <!--Quote-->
    <section id="quote" class="bg-parlex">
        <div class="parlex-back">
            <div class="container secPad text-center">
				<h2>If I asked people what they wanted, they would have said ‘Faster Horses’.</h2><h3>-Henry Ford</h3>
            </div>
            <!--/.container-->
        </div>
    </section>
    
    <!--Skills-->
    <section id="skills" class="secPad white">
    	<div class="container">
        <div class="heading text-center">
                <!-- Heading -->
                <h2><strong>My Skills</strong></h2>
                
            </div>
        	<div class="row">
                <div class="col-sm-6">
                    <h2><strong>Designing Skills</strong></h2>
                    <p class="mrgBtm20">
                        It takes knowledge, smart work, and dedication to make great ideas come to life. I have been helping make great ideas happen for the past 4 years and am always ready for new challenges.<br/>
                    
                    </p>
                    <div class="row">
                        <div class="col-md-3 skilltitle">Die Casting</div>
                        <div class="col-md-7">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                    <span class="sr-only">90% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 skilltitle">Injection Molding</div>
                        <div class="col-md-7">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                    <span class="sr-only">90% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 skilltitle">Extrusions</div>
                        <div class="col-md-7">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                    <span class="sr-only">80% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 skilltitle">Sheet Metal</div>
                        <div class="col-md-7">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                    <span class="sr-only">80% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>      
                </div>
                <div class="col-sm-6">
                    <h2><strong>CAD Skills</strong></h2>
                    <p class="mrgBtm20">
                        Problem solving is not always about sitting in a room talking about the way things should be done. I have a strong background in 3D CAD which allows me to design products in a snap.
                
                    </p>
                    <div class="row">
                        <div class="col-md-3 skilltitle">Creo</div>
                        <div class="col-md-7">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                                    <span class="sr-only">95% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 skilltitle">Solidworks</div>
                        <div class="col-md-7">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                    <span class="sr-only">80% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 skilltitle">AutoCAD</div>
                        <div class="col-md-7">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                                    <span class="sr-only">75% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 skilltitle">FloEFD</div>
                        <div class="col-md-7">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                                    <span class="sr-only">75% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </section>
    
    <!--Experience-->
    <section id="experience" class="secPad">
    	<div class="container">     
           <div class="heading text-center">
                <!-- Heading -->
                <h2>Professional Experience</h2>
                <p>See what projects I have worked on.</p>
            </div>
        <div id="timeline"><div class="row timeline-movement timeline-movement-top">
        <div class="timeline-badge timeline-future-movement">
            <a href="#experience">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="timeline-badge timeline-filter-movement">
            <a href="#experience">
                <span class="glyphicon glyphicon-time"></span>
            </a>
        </div>
    
    </div>
    
    <div class="row timeline-movement">
    
        <div class="timeline-badge date">
            <span class="timeline-balloon-date-day">Sep</span>
            <span class="timeline-balloon-date-month">2015</span>
        </div>
    
        <div class="col-sm-offset-6 col-sm-6  timeline-item">
            <div class="row">
                <div class="col-sm-offset-1 col-sm-11">
                    <div class="timeline-panel debits">
                        <ul class="timeline-panel-ul">
                            <li><a href="https://www.rabweb.com/led-gas-station-canopy-light-masi.php"><span class="importo">MASI Launches</span></a></li>
                            <li><span class="causale"></span>RAB Lighting launches the MASI, a high efficiency LED gas station canopy fixture.
                            This fixture has best in class efficiency at up to 143 lumens/watt. The MASI was the second product I designed at RAB.    
                            </li>
                        </ul>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="row timeline-movement">
    
    <div class="timeline-badge date">
            <span class="timeline-balloon-date-day">Mar</span>
            <span class="timeline-balloon-date-month">2015</span>
        </div>
    
        <div class="col-sm-6  timeline-item">
            <div class="row">
                <div class="col-sm-11">
                    <div class="timeline-panel credits">
                        <ul class="timeline-panel-ul">
                            <li><a href="https://www.rabweb.com/led-linear-slot-lighting.php"><span class="importo">BOA Launches</span></a></li>
                            <li style="text-align:left"><span class="causale">RAB Lighting Inc launches the BOA, a LED linear slot fixture with upscale design for an affordable price.
                                I worked as the lead design engineer taking the product from concept to launch. This was my first product.</span> </li>
                        </ul>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
    
    <div class="row timeline-movement">
    
        <div class="timeline-badge date">
            <span class="timeline-balloon-date-day">Jun</span>
            <span class="timeline-balloon-date-month">2012</span>
        </div>
    
        <div class="col-sm-offset-6 col-sm-6  timeline-item">
            <div class="row">
                <div class="col-sm-offset-1 col-sm-11">
                    <div class="timeline-panel debits">
                        <ul class="timeline-panel-ul">
                            <li><a href="http://www.rabweb.com"><span class="importo">Mechanical Engineer | RAB Lighting</span></a></li>
                            <li><span class="causale">I begin working at RAB Lighting creating high-quality, affordable, and energy-efficient LED lighting.</span> </li>
                            <li><p><small class="text-muted"> 6/18/2012 - Present </small></p> </li>
                        </ul>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
    
        
    
    
   
    <div class="row timeline-movement">
    
    
        <div class="timeline-badge date">
            <span class="timeline-balloon-date-day">Sep</span>
            <span class="timeline-balloon-date-month">2008</span>
        </div>
    
        <div class="col-sm-6  timeline-item">
            <div class="row">
                <div class="col-sm-11">
                    <div class="timeline-panel credits">
                        <ul class="timeline-panel-ul">
                            <li><a href="http://www.stevens.edu"><span class="importo">Stevens Institute of Technology</span></a></li>
                            <li><span class="causale">BE Mechanical Engineering</span> </li>
                            <li><p><small class="text-muted"> 9/12/08 - 5/9/12</small></p> </li>
                        </ul>
                    </div>
    
                </div>
            </div>
        </div>
        
        
    </div>
    </div>
    </div>
    
    </section>
    
  
   <!--Projects-->
    <section id="projects" class="page-section section appear clearfix secPad">
        <div class="container">

            <div class="heading text-center">
                <!-- Heading -->
                <h2>Projects</h2>
                <!--<p>At lorem Ipsum available, but the majority have suffered alteration in some form by injected humour.</p>-->
            </div>

            <div class="row">
                <nav id="filter" class="col-md-12 text-center">
                    <ul>
                        <li><a href="#" class="current btn-theme btn-small" data-filter="*">All</a></li>
                        <li><a href="#" class="btn-theme btn-small" data-filter=".products">Products</a></li>
                        <li><a href="#" class="btn-theme btn-small" data-filter=".artwork">Artwork</a></li>
                        
                    </ul>
                </nav>
                <div class="col-md-12">
                    <div class="row">
                        <div class="portfolio-items isotopeWrapper clearfix" id="3">

                            <article class="col-sm-4 isotopeItem products">
                                <div class="portfolio-item">
                                    <img src= <%= image_path ("portfolio/masi_gas_station_20x20.png") %> alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <a href= <%= image_path "portfolio/masi_gas_station_20x20.png" %> class="fancybox" title="Gas Station LED Fixture">
                                                <h5>Gas Station Fixture</h5>
                                                <i class="fa fa-arrows-alt fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="col-sm-4 isotopeItem products">
                                <div class="portfolio-item">
                                    <img src= <%= image_path ("portfolio/linear_fixture.png") %> alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <a href = <%= image_path "portfolio/linear_fixture.png" %> class="fancybox" title="Linear LED Fixture">
                                                <h5>Linear Fixture</h5>
                                                <i class="fa fa-arrows-alt fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>


                            <!-- <article class="col-sm-4 isotopeItem photography">
                                <div class="portfolio-item">
                                    <img src= <%= image_path ("portfolio/img3.jpg") %> alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <a href="images/portfolio/img3.jpg" class="fancybox">
                                                <h5>Project Name</h5>
                                                <i class="fa fa-arrows-alt fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="col-sm-4 isotopeItem print">
                                <div class="portfolio-item">
                                    <img src= <%= image_path ("portfolio/img4.jpg") %> alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <a href="images/portfolio/img4.jpg" class="fancybox">
                                                <h5>Project Name</h5>
                                                <i class="fa fa-arrows-alt fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="col-sm-4 isotopeItem photography">
                                <div class="portfolio-item">
                                    <img src= <%= image_path ("portfolio/img5.jpg") %> alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <a href="images/portfolio/img5.jpg" class="fancybox">
                                                <h5>Project Name</h5>
                                                <i class="fa fa-arrows-alt fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="col-sm-4 isotopeItem webdesign">
                                <div class="portfolio-item">
                                    <img src= <%= image_path ("portfolio/img6.jpg") %> alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <a href="images/portfolio/img6.jpg" class="fancybox">
                                                <h5>Project Name</h5>
                                                <i class="fa fa-arrows-alt fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="col-sm-4 isotopeItem print">
                                <div class="portfolio-item">
                                    <img src= <%= image_path ("portfolio/img7.jpg") %> alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <a href="images/portfolio/img7.jpg" class="fancybox">
                                                <h5>Project Name</h5>
                                                <i class="fa fa-arrows-alt fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="col-sm-4 isotopeItem photography">
                                <div class="portfolio-item">
                                    <img src= <%= image_path ("portfolio/img8.jpg") %> alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <a href="images/portfolio/img8.jpg" class="fancybox">
                                                <h5>Project Name</h5>
                                                <i class="fa fa-arrows-alt fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="col-sm-4 isotopeItem print">
                                <div class="portfolio-item">
                                    <img src= <%= image_path ("portfolio/img9.jpg") %> alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <a href="images/portfolio/img9.jpg" class="fancybox">
                                                <h5>Project Name</h5>
                                                <i class="fa fa-arrows-alt fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>-->
                        </div>

                    </div>


                </div>
            </div>

        </div>
    </section>

	<!--Contact -->
    <section id="contact" class="page-section secPad">
        <div class="container">

            <div class="row">
                <div class="heading text-center">
                    <!-- Heading -->
                    <h2>Let's Keep In Touch!</h2>
                    <p>Thank you for visiting my profile. If you would like to get in contact with me, please fill out the form below.</p>
                </div>
            </div>

            <div class="row mrgn30">

                <form method="post" action="" id="contactfrm" role="form">
                    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" name="name" id="name" placeholder="Enter name" title="Please enter your name (at least 2 characters)">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" name="email" id="email" placeholder="Enter email" title="Please enter a valid email address">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="comments">Comments</label>
                            <textarea name="comment" class="form-control" id="comments" style="resize:vertical" cols="3" rows="5" placeholder="Enter your message…" title="Please enter your message (at least 10 characters)"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <button name="submit" type="submit" class="btn btn-lg btn-primary" id="submit">Submit</button>
                            </div>
                            <div class="col-sm-6">
                                <div class="result" style="padding-top:12px">
                                    <% if flash[:notice] %>
                                       <div class="notice"><%= flash[:notice] %></div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="col-sm-4">
                    <h4>Location:</h4>
                    <address>
                        New York, NY
                        <br>
                    </address>
                    <h4>Email:</h4>
                    <address>
                        contact@patrocchio.com<br>
                    </address>
                </div>
            </div>
        </div>
        <!--/.container-->
    </section>
    <footer>
        <div class="container">
            <div class="social text-center">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="https://www.linkedin.com/pub/pat-rocchio/42/5bb/596"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <!--<a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-flickr"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>-->
            </div>

            <div class="clear"></div>
            <!--CLEAR FLOATS-->
        </div>
    </footer>
    <!--/.page-section-->
    <section class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    Copyright <%= Time.now.year %> | All Rights Reserved  -- Template by <a href="http://webThemez.com">WebThemez.com</a>
                </div>
            </div>
            <!-- / .row -->
        </div>
    </section>
    <a href="#top" class="topHome"><i class="fa fa-chevron-up fa-2x"></i></a>



